<div flex id="flowapply">
    <header layout="row" layout-align="space-between center">
        <img src="app/main/views/flow/images/fanhui@2x.png">
        <span>加油申请</span>
        <span></span>
    </header>

    <section class="input" layout="row" layout-align="space-between center">
        <span>加油金额</span>
        <span>500元</span>
        <img src="app/main/views/flow/images/fanhui01@2x.png">
    </section>

    <section class="dateRange">
        <div layout="row" layout-align="space-between center">
            <span>开始时间</span>
            <span>请选择时间</span>
            <img src="app/main/views/flow/images/fanhui01@2x.png">
        </div>
        <span class="line" layout="row"></span>
        <div layout="row" layout-align="space-between center">
            <span>结束时间</span>
            <span>请选择时间</span>
            <img src="app/main/views/flow/images/fanhui01@2x.png">
        </div>
    </section>

    <section class="textarea">
        <span>请输入备注说明</span>
    </section>

    <section class="assignee">
        <span>审批人</span>
        <div layout="row">
            <img src="app/main/views/flow/images/tianjia@2x.png">
            <span layout="row" layout-align="center center" class="line-box">
                <img src="app/main/views/flow/images/hengxian@2x.png" class="line">
            </span>
            <div layout="column" layout-align="center center">
                <img src="app/main/views/flow/images/touxiang@2x.png" class="icon">
                <span>王五</span>
            </div>
        </div>
    </section>

    <footer layout="row" layout-align="center center">
        <div layout="row" layout-align="center center">
            <span>提交</span>
        </div>
    </footer>
</div>