#flowapply {
  $ppr: 75;
  background: #f3f3f3;
  font-family: "Microsoft YaHei";
  padding-bottom: 106rem/$ppr;

  img {
    background-size: 100%;
  }

  input {
    //width: 100rem/$ppr;
  }

  section,.textarea {
    background: #ffffff;
    font-size: 26rem/$ppr;
    border-top: 1rem/$ppr solid #d9d9d9;
    border-bottom: 1rem/$ppr solid #d9d9d9;
    margin-top: 20rem/$ppr;
    padding: 0 40rem/$ppr;
    min-height: 88rem/$ppr;
    img {
      width: 15rem/$ppr;
      height: 26rem/$ppr;
    }
    &.assignee {
      min-height: 296rem/$ppr;
      padding: 29rem/$ppr 40rem/$ppr;
      margin-bottom: 150rem/$ppr;
      > div {
        margin: 36rem/$ppr 14rem/$ppr;
        img {
          width: 90rem/$ppr;
          height: 90rem/$ppr;
        }
        .line {
          width: 47rem/$ppr;
          height: 7rem/$ppr;
          margin: 0 20rem/$ppr;
        }
        .line-box {
          height: 90rem/$ppr;
        }
        .icon {
          width: 88rem/$ppr;
          height: 90rem/$ppr;
        }
      }
      .person {
        margin-bottom: 20rem/$ppr;
      }
    }
    &.dateRange {
      padding-right: 28rem/$ppr;
      min-height: 178rem/$ppr;
      div {
        padding-right: 12rem/$ppr;
        min-height: 88rem/$ppr;
      }
      .line {
        height: 2rem/$ppr;
        background: #e2e2e2;
      }
    }
  }

  .textarea {
    min-height: 159rem/$ppr;
    padding: 31rem/$ppr 40rem/$ppr;
    overflow: hidden;
    resize: none;
    width: 100%
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-top: 1rem/$ppr solid #d8d8d8;
    height: 106rem/$ppr;
    div {
      background: #fc8714;
      border-radius: 8rem/$ppr;
      width: 661rem/$ppr;
      height: 80rem/$ppr;
    }
    span {
      font-size: 28rem/$ppr;
      color: #ffffff;
    }
  }

}