<div flex id="h5">
    <header class="row space-between">
        <img src="app/main/views/flow/images/fanhui@2x.png">
        <span>加油申请</span>
        <span></span>
    </header>

    <section class="row space-between input">
        <span>加油金额</span>
        <span>500元</span>
        <img src="app/main/views/flow/images/fanhui01@2x.png">
    </section>

    <section class="dateRange">
        <div class="row space-between">
            <span>开始时间</span>
            <span>请选择时间</span>
            <img src="app/main/views/flow/images/fanhui01@2x.png">
        </div>
        <span class="row line"></span>
        <div class="row space-between">
            <span>结束时间</span>
            <span>请选择时间</span>
            <img src="app/main/views/flow/images/fanhui01@2x.png">
        </div>
    </section>

    <section class="textarea">
        <span>请输入备注说明</span>
    </section>

    <section class="assignee">
        <span class="row">审批人</span>
        <div class="row">
            <img src="app/main/views/flow/images/tianjia@2x.png">
            <span class="row center">
            <img src="app/main/views/flow/images/hengxian@2x.png" class="line">
        </span>
            <img src="app/main/views/flow/images/touxiang@2x.png" class="icon">
        </div>
    </section>
</div>